.formBox {
    display: none;
    > #searchForm {
        right:0;
        width: 100%;
        margin-top: 10px;
        > input {
            height: 44px;
            width: 100%;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            padding: 0px 0px 0px 45px;
            border-radius: 9px;
            animation: SearchBarTopToBottomMobile .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        > button {
            animation: SearchBarTopToBottomMobile .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            position: absolute;
            top: 25px;
            left: 5px;
        }
    }
    @media screen and (min-width: 1024px){
        height: 60px;
        width: 250px;
        > #searchForm {
            > input {
                border-radius: 50px;
            }
            > button {
                position: relative;
                top: -35px;
                right: 0;
                left: 100%;
            }
        }
    }
    @media only screen and (min-width: 768px){
        display: block;
    }
}

.formBox.showing {
    width: 100%;
    display: block;
    > #searchForm > input {
        @media only screen and (min-width: 375px){
            width: 70%;
        }
        @media only screen and (max-width: 360px){
            width: 68%;
        }
    }
}