.News_container {
    width: 100%;
    margin: 10% 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    > .News {
        width: 100%;
        border-radius: 4px;
        background-color: white;
        box-shadow: $default_box_shadow;
        > .imgBox {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray_text;
            background-size: cover;
            width: 95vw;
            height: 200px;
            border-radius: 4px 4px 0px 0px;
            text-align: center;
            > img {
                max-width: 100%;
                max-height: 100%;
                border-radius: inherit;
            }
        }
        > .infos {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            > span {
                color: $gray_text;
                font-size: 15px;
            }
            > h3 {
                font-size: 18px;
                font-weight: 600;
                margin: 8px 0px;
                color: $blue_theme;
                word-break: normal;
                > a {
                    color: inherit;
                    text-decoration: none;
                    &:visited {
                        color: inherit;
                    }
                }
            }
            > .description {
                color: $gray_text;
                margin: 2px 0px;
                font-size: 14px;
            }
            > .author {
                color: $blue_theme;
                font-weight: bold;
            }
        }
    }
    @media only screen and (min-width: 768px){
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        > .News {
            width: 48%;
            margin: 25px 0px;
            > .imgBox {
                height: 320px;
                max-width: 100%;
                > img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.col-0 {
    width: 45%;
}

.col-1 {
    width: 45%;
}

.col-3 {
    column-span: 3/3;
}