.BurgerMobileMenu {
    display: block;
    width: 25px;
    margin-top: 15px;
    > .MobileIcon { 
        width: 25px;
        cursor: pointer;
    }
}

.BurgerMobileMenu.search_active {
    display: none;
}


@media only screen and (min-width: 1024px){
    .BurgerMobileMenu {
        display: none;
    }
}